<h2>Welcome to our</h2>
<h1>anagram generator</h1>
 
<% if @error.present? %>
  <p class='error'><%= "#{@error}" %></p>
<% end %>

<form action="/" method="post" class="form">
  <input type="text" name="word" id="word_input"><br>
  <input type="submit" class="btn" value="Find my anagrams!">
</form>

